.begeistring .overskrifter {
  margin: 10vh 0 0 31vh;
  padding: 5vh 0 0 0;
}

.begeistring .overskrifter-h1 {
  margin: 0 0 1vh 0;
}

.begeistring .overskrifter-h2 {
  margin: 0 0 3vh 0;
}

.begeistring .outer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.begeistring .outer-grid img {
  width: 30vw;
}

.begeistring .outer-grid .row-1 {
  margin: 0 0 0 31vh;
  padding: 0 10vh 0 0;
}

.begeistring .outer-grid .row-2 {
  margin: 0 31vh 0 0;
  padding: 0 0 0 10vh;
  text-align: end;
}

.begeistring .paragraph {
  padding-bottom: 3vh;
}
