header {
  height: 6.5vh;
  background-color: #00574f;
  color: white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ikoner {
  justify-self: center;
  align-self: center;
  color: white;
}

.ikoner a {
  font-size: 2em;
  padding: 0 0.3vw;
  color: white;
}

.lokasjon {
  align-self: center;
  font-size: 1.2em;
  font-weight: 100;
}

.lokasjon a {
  color: white;
}

.lokasjon a:hover {
  text-decoration: underline;
}
