.slider {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image {
  height: 80vh;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 225px;
  font-size: 3rem;
  color: #ffb600;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 225px;
  font-size: 3rem;
  color: #ffb600;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 1;
  justify-self: center;
  align-self: start;
  transition-duration: 1s;
}
