body {
  background-color: rgb(251, 251, 251);
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffb600;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0 0 3vh 0;
}

p {
  font-family: "Open Sans", sans-serif;
}
